** {box-sizing: border-box}
.mySlides {display: none}
img {vertical-align: middle;}

/*gallery*/
div.gallery {
  margin: 15px;
  border: 1px solid #ccc;
  float: left;
  width: 350px;
}

div.gallery:hover {
  border: 1px solid #0f0f0f;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

/* Slideshow container */
.slideshow-container {
  max-width: 700px;
  position: relative;
  margin: auto;
}
.card-hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
      }
.card-hover:hover {
  transform: translateY(-5px);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.15);
      }

.thumb-wrapper {
  min-height: 10px;
	margin: 5px;
	text-align: center;
	background: #E9EFF2;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.1);   
}

.thumb-content {
	padding: 15px;
	font-size: 12px;
}

/*slider
.card {
  height: 200px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 40px;
  margin: 10px;
  flex: 200px 0 0;
}
.cards img {
    width: 100%;
    object-fit: cover;
}
.cards-wrapper {
  display: flex; 
  transition: ease 0.5s;
}
.display-area {
  width: 880px;
/*   border: 1px solid black; 
  overflow-x: hidden;
  margin: auto;
}

.dots-wrapper {
  display: flex;
  justify-content: center;
  margin: auto;
}

.dot {
  border: none;
  background: rgba(0, 0, 0, 0.2);
  width: 20px;
  height: 20px;
  margin: 5px;
  border-radius: 50%;
  outline: none;
}
.dot:hover {
  background: rgba(0, 0, 0, 0.3);
}
.dot.active {
  background: rgba(0, 0, 0, 0.5);
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}

/*google map*/
.google-map {
  padding-bottom: 50%;
  position: relative;
}

.google-map iframe {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
/* footer section start */
*{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -o-box-sizing:border-box;
  -ms-box-sizing:border-box;
  box-sizing:border-box;
}
/*body{
  font-size:14px;
  background: #fff;
    max-width:1920px;
    margin:0 auto;
  overflow-x:hidden;
  font-family: poppins;
  

}*/

#footer{
  background: #656262;
    padding: 0rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
/*  background-image: url(https://arena.km.ua/wp-content/uploads/3538533.jpg); */
}
#footer2{
  background: #f7f7f7;
    padding: 3rem;
    margin-top: 0px;
  /* padding-top: 5rem; */
  padding-top: 7rem;
    padding-bottom: 80px;
  background-image: url(../images/cards/v748-toon-111.png);
}
.logo-footer{
  /* max-width: 300px; */
}
.social-links{
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 

}
.social-links h2{
  padding-bottom: 15px;
  font-size: 20px;
    font-weight: 600;
}
.social-links img{
  padding-bottom: 25px;
}
.social-icons{
  /* display: flex;
    gap: 3rem; */
  display: flex;
    flex-direction: column;
    gap: 1rem;
  color: #777777;
}
.social-icons a{
  /* font-size: 18px; */
    /* background: #ffffff; */
    /* box-shadow: rgb(0 0 0 / 8%) 0px 4px 12px;
    padding: 0.4rem 1rem 0.4rem 1rem;
    border-radius: 3px;
  color: #82074a; */
  /* margin-right: 18px; */
  color: #f1f1f1;
}
.social-icons a:hover{
  color: #000;
}
.social-icons a i{
  box-shadow: rgb(0 0 0 / 8%) 0px 4px 12px;
    padding: 0.4rem 1rem 0.4rem 1rem;
    border-radius: 3px;
    color: #82074a;
  font-size: 16px;
  margin-right: 12px;
}
li{
  list-style: none;
}
.useful-link h2{
  padding-bottom: 15px;
  font-size: 20px;
    font-weight: 600;
}
.useful-link img{
  padding-bottom: 15px;
}
.use-links{
  line-height: 32px;
}
.use-links li i{
  font-size: 14px;
    padding-right: 8px;
    color: #898989;
}
.use-links li a{
  color: #303030;
    font-size: 15px;
    font-weight: 500;
  color: #777777;
}
.use-links li a:hover{
  color: #000;
}
.address h2{
  padding-bottom: 15px;
  font-size: 20px;
    font-weight: 600;
}
.address img{
  padding-bottom: 15px;
}
.address-links li a{
  color: #303030;
    font-size: 15px;
    font-weight: 500;
  color: #f1f1f1;

}
.address-links li i{
  font-size: 16px;
    padding-right: 8px;
  color: #82074a;

}
.address-links li i:nth-child(1){
  padding-top: 9px;
}
.address-links .address1{
  font-weight: 500;
    font-size: 15px;
  display: flex;
}
.address-links{
      line-height: 32px;
    color: #f1f1f1;
}
.copy-right-sec{
  padding: 1.8rem;
    background: #545454;
    color: #fff;
    text-align: center;
}
.copy-right-sec a{
  color: #fcd462;
    font-weight: 500;
}
a{
  text-decoration:none;
}

.h7{
  color: white;
}

/* footer section end */



hr.solid {
  border-top: 2px solid #4a4a4a;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 80px;
  margin-right: 80px;
}
